/.venv
/training
/new_test_audio_data
augmented_data_lfcc.json
augmented_data_mfcc.json
augmented_data_mel_spectrogram.json
test_data_lfcc.json	
test_data_mfcc.json
test_data_mel_spectrogram.json
val_data_lfcc.json	
val_data_mfcc.json
val_data_mel_spectrogram.json
/untitled_project
/testing
/validation
/augmented_audio_files