/.venv
/new_test_audio_data
augmented_data_lfcc.json
augmented_data_mfcc.json
augmented_data_mel_spectrogram.json
test_data_lfcc.json
test_data_mfcc.json
test_data_mel_spectrogram.json
val_data_lfcc.json
val_data_mfcc.json
val_data_mel_spectrogram.json
norm_augmented_data_lfcc.json
norm_augmented_data_mfcc40.json
norm_test_data_lfcc.json
norm_test_data_mfcc40.json
norm_val_data_lfcc.json
norm_val_data_mfcc40.json
/untitled_project
/training
/testing
/validation
/augmented_audio_files
/training_2sec
/validation_2sec
/testing_2sec